.container {
  display: flex;
  margin-right: 20px;
  color: #ffffff;
  align-items: center;
}

.photoBlock {
  object-fit: scale-down;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  margin-right: 20px;
  transition: all 0.3s ease-in-out;
}

.photoBlock:hover {
  cursor: pointer;
  box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 1);
}

.form {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 30px 0 5px 0;
}

.inputContainer {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.inputContainer input[type="file"] {
  position: absolute;
  font-size: 100px;
  left: 0;
  top: 0;
  opacity: 0;
}

.btn {
  border: 1px solid #007bff;
  color: #ffffff;
  background-color: #007bff;
  padding: 8px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: normal;
}

/*Media Queries*/
@media only screen and (max-width: 800px) {
  .photoBlock {
    width: 35px;
    height: 35px;
  }
}
