.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 20px;
  border: 1px solid transparent;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 1);
}

.container:hover {
  cursor: pointer;
  box-shadow: 0px 0px 2px 0px rgba(0, 123, 255, 1);
}

.photo {
  width: 65px;
  height: 65px;
  border-radius: 50px;
  margin-right: 20px;
  transition: all 0.3s ease-in-out;
}

.name {
  font-size: 24px;
}

.message {
  font-size: 22px;
  margin: 0 5px;
}

.date {
  font-size: 14px;
  padding-right: 10px;
  color: #6b6a6a;
}

.buttonContainer {
  display: flex;
  width: 200px;
  justify-content: space-between;
}

/*Media Queries*/
@media only screen and (max-width: 800px) {
  .container {
    padding: 5px;
    margin-bottom: 10px;
  }

  .container button {
    font-size: 12px;
    padding: 0.145rem 0.35rem;
  }

  .name {
    font-size: 16px;
  }

  .message {
    font-size: 14px;
  }

  .date {
    font-size: 10px;
  }

  .photo {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }
}
