@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,300;0,400;1,100&family=Barlow+Semi+Condensed:wght@300&display=swap");

body {
  font-family: Barlow Condensed;
  background-color: #3b3b3e;
  overflow: hidden;
}

p {
  margin: 0;
}
