@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,300;0,400;1,100&family=Barlow+Semi+Condensed:wght@300&display=swap");

body {
  font-family: Barlow Condensed;
  background-color: #3b3b3e;
  overflow: hidden;
  line-height: normal;
}

p {
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #545454;
}

::-webkit-scrollbar-thumb {
  background: #1d1d1f;
  border-radius: 10px;
}
