.active {
  color: #007bff !important;
}

.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 25px;
  bottom: 0;
  left: 0;
  background-color: #007bff;
}

.navBarContainer {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Barlow Condensed;
  font-size: 20px;
  width: 100%;
  background-color: #1d1d1f;
  padding: 20px;
  box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 1);
  z-index: 1000;
}

.navBarContainer a {
  position: relative;
  color: white;
  margin-right: 20px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.navBarContainer a:last-child {
  margin: 0;
}

.navBarContainer a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 25px;
  bottom: 0;
  left: 0;
  background-color: #007bff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.navBarContainer a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.navBarContainer a:hover {
  color: #007bff;
}

.userInfoContainer {
  display: flex;
  align-items: center;
}

.humburger {
  display: none;
}

@media only screen and (max-width: 800px) {
  .navBarLinks {
    display: none;
  }

  .navBarLinksShow {
    display: flex;
    position: absolute;
    left: 0;
    top: 86px;
    background-color: #1d1d1f;
    width: 100%;
    justify-content: center;
    padding: 20px 0;
  }

  .humburger {
    position: relative;
    display: block;
    cursor: pointer;
    width: 20px;
    height: 15px;
    background: transparent;
  }

  .humburger:hover {
    cursor: pointer;
  }

  .humburger > div {
    background: #ffffff;
    position: absolute;
    height: 1px;
    width: 20px;
    top: 7px;
  }


  .humburger:before {
    content: "";
    position: absolute;
    top: 0;
    height: 1px;
    width: 20px;
    background: #ffffff;
  }

  .humburger:after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 20px;
    background: #ffffff;
    color: #ffffff;
  }
}
